.button-container{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: aliceblue;
    color: black; 
    border-radius: 25px;
    margin: 4px;
    cursor: pointer; 
    user-select: none;
}

.button-container:hover{
    background-color: rgb(197, 228, 255);
}

.operator{
    background-color: antiquewhite;
}

.operator:hover{
  background-color:rgb(253, 213, 163) ;  

}

