.App {
  width: 100%;
  height: auto;
  background-color: beige;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-container{
  width: 100%;
  height: 10%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-logo{
  width: 30%;
  height: auto;
}

.calculator-container{
  width: 25%;
  height: 80%;
  padding: 14px;
  background-color:rgb(58, 58, 58);
  border-radius: 30px;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}